*
{
    margin:0;
padding:0;

}
body
{
font-family: 'Amatic SC', cursive;;
font-size: 30px;

}
h1,h2,h4
{
    text-align:left;
    color:#EA8AA1;
    width:150px;
    
}

#conntent
{
    padding:3%;
}
nav
{
    float
    float:left;
    width:250px;
}
nav ul{
   
    margin-left: 30%;
    margin:0 auto

}
nav ul li{
    display:inline
}
nav ul li a{
text-decoration: none;
color:black;

}
section{
   background:color grey;
    padding:3%;
    width:26%;
float:left;

}
#wrapper{}